target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_14.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_plugin_annotations_1_2_2_SNAPSHOT.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_eclipse_jdt_org_eclipse_jdt_annotation_1_1_0.xml
.idea/libraries/Maven__org_bukkit_bukkit_1_13_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_avaje_ebean_2_8_1.xml
.idea/libraries/Maven__net_milkbowl_vault_Vault_1_6_6.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml
.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__jaxen_jaxen_1_1_6.xml
.idea/libraries/Maven__javax_persistence_persistence_api_1_0.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__com_sk89q_worldguard_6_1_1_SNAPSHOT.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_google_guava_guava_17_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_2_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jFormatString_2_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_findbugs_2_0_3.xml
.idea/libraries/Maven__com_google_code_findbugs_bcel_2_0_1.xml
.idea/libraries/Maven__com_github_SkriptLang_Skript_dev37c.xml
.idea/libraries/Maven__com_github_marcelo_mason_PreciousStones_24e3d4bf67b7240ae36b32be10e99d4091938c5c.xml
.idea/libraries/Maven__com_destroystokyo_paper_paper_api_1_12_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__com_apple_AppleJavaExtensions_1_4.xml
.idea/libraries/Maven__asm_asm_tree_3_3.xml
.idea/libraries/Maven__asm_asm_commons_3_3.xml
.idea/libraries/Maven__asm_asm_3_3.xml
.idea/libraries/Maven__ant_contrib_ant_contrib_1_0b3.xml
.idea/discord.xml
.idea/compiler.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_14.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_8_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_plugin_annotations_1_2_2_SNAPSHOT.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_eclipse_jdt_org_eclipse_jdt_annotation_1_1_0.xml
.idea/libraries/Maven__org_bukkit_bukkit_1_13_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_avaje_ebean_2_8_1.xml
.idea/libraries/Maven__net_milkbowl_vault_Vault_1_6_6.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_8_SNAPSHOT.xml
.idea/libraries/Maven__net_jcip_jcip_annotations_1_0.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__jaxen_jaxen_1_1_6.xml
.idea/libraries/Maven__javax_persistence_persistence_api_1_0.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__com_sk89q_worldguard_6_1_1_SNAPSHOT.xml
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_google_guava_guava_17_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_2_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_jFormatString_2_0_1.xml
.idea/libraries/Maven__com_google_code_findbugs_findbugs_2_0_3.xml
.idea/libraries/Maven__com_google_code_findbugs_bcel_2_0_1.xml
.idea/libraries/Maven__com_github_SkriptLang_Skript_dev37c.xml
.idea/libraries/Maven__com_github_marcelo_mason_PreciousStones_24e3d4bf67b7240ae36b32be10e99d4091938c5c.xml
.idea/libraries/Maven__com_destroystokyo_paper_paper_api_1_12_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__com_apple_AppleJavaExtensions_1_4.xml
.idea/libraries/Maven__asm_asm_tree_3_3.xml
.idea/libraries/Maven__asm_asm_commons_3_3.xml
.idea/libraries/Maven__asm_asm_3_3.xml
.idea/libraries/Maven__ant_contrib_ant_contrib_1_0b3.xml
.idea/discord.xml
.idea/compiler.xml
.idea/$PRODUCT_WORKSPACE_FILE$
